[data-component~='sidebar'] {
  background: var(--active-color);
  color: white;
  display: none;
  position: absolute;
  left: 0;
  top: var(--navbar-height);
  bottom: 0;
  width: var(--sidebar-width);
  z-index: 1;
}

body.show-sidebar [data-component~='sidebar'] {
  display: block;
}

@media (min-width: 750px) {
  [data-component~='sidebar'] {
    display: block;
  } 
}