[data-component~='message'] {
  --reading-padding: calc(50% - var(--reading-width)/2);
  padding: 25px;
  padding-left: var(--reading-padding);
  padding-right: var(--reading-padding);
  border-bottom: 1px solid var(--border-grey);
  display: flex;
  justify-content: space-between;
  --avatar-message-margin: 10px;
}

[data-component~='message']:before,
[data-component~='message']:after {
    display: block;
    content: '';
    width: 25px;
    height: 100%;
}

[data-component~='message'] .edit {
    float: right;
}

[data-component~='message'] .avatar {
    border-radius: 3px;
    background-color: var(--border-grey);
    width: var(--avatar-width);
    height: var(--avatar-width);
    margin-right: var(--avatar-message-margin);
}

[data-component~='message'] .text {
    width: calc(100% - (var(--avatar-width) + var(--avatar-message-margin) + 50px));
}

[data-component~='message'] p {
    margin: 0;
    line-height: 1.34rem;
}

[data-component~='message'].from {
    background: var(--soft-grey);
}

[data-component~='message'].from .avatar {
    background-color: var(--gpt-color);
}