[data-component~='navbar'] {
  background: var(--active-color);
  height: var(--navbar-height);
  color: var(--active-text-color);
  width: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  font-family: 'Neuzeit', sans-serif;
  justify-content: space-between;
}

[data-component~='navbar'] a {
    text-decoration: none;
    color: var(--active-text-color);
    font-size: 1.2rem;
}

[data-component~='navbar'] button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    outline: none;
    color: var(--active-text-color);
    margin-bottom: -6px;
}

@media (min-width: 750px) {
  [data-component~='navbar'] {
    width: var(--sidebar-width);
  }

  [data-component~='navbar'] button.toggle {
    display: none;
  }
}
  